body {
    border: 2px solid black;
    box-sizing: content-box;
    margin: 3em auto;
    width: 50vw;
}

.row {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 50vw;
    height:50vw;
}

.white-box {
    background-color: rgb(223, 206, 132);
    font-size: 5vw;
    text-align: center;
}

.black-box {
    background-color: rgb(155, 137, 56);
    font-size: 5vw;
    text-align: center;
}